body , html {
 
  color: black;
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
  font-family: Arial Black, Helvetica, sans-serif;
}

 h2 h3 h4 h5 h6 {
  font-family: Arial Black, Helvetica, sans-serif;
  color: white;
}

a {
  cursor: pointer;
}

/*Contact-Section-Top*/

.title-header{
  background-color: #4b79bc;
  display: flex;
  flex-direction: row;
  font-family: Arial Black, Helvetica, sans-serif;
  color: white;
  font-size: 14pt;
  width: 100%;
  
}

.top-header{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  flex-wrap: nowrap;
  cursor: pointer;
}




.seperator{
  background-color: #f37654;
  width: 100%;
  height: 30px;
}

/*---------*/

hr {
  border-top: 3px solid #f37654;
}

/*--hero-image-CTA--*/

.hero-image-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/main2.jpg");
 height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  
}

.hero-image-banner:hover{
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.hero-text{
  text-align: right;
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial Black, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 35px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  
}

/*----mobile-responsive---*/

.hero-text-responsive h1{
  display: none;
}

.hero-subtitle-responsive{
  display: none;
}

/*---------*/


.hero-subtitle{
  font-family: Arial , Helvetica, sans-serif;
  text-shadow: none;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
}



.donate-now-button{
  font-family: Arial Black , Helvetica, sans-serif;
  font-size: 23pt;
  letter-spacing: 1px;
  padding: 20px;
  background-color: #ee3124;
  text-align: right;
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.donate-now-button:hover {
  background-color: #bf0e02;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.campaign-body{
  background-color: #000;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.second-header{
padding: 30px;
font-family: Arial Black , Helvetica, sans-serif;
text-transform: uppercase;
display: flex;
justify-content: center;
}

.second-header h1 {
  color: #fff;
  font-family: Arial Black , Helvetica, sans-serif;
  overflow: hidden; 
  border-right: .15em solid #ee3124; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  -webkit-animation-name: typing, blinking;
    -webkit-animation-duration: 5s, 1s;
    -webkit-animation-iteration-count: 1, infinite;
    -webkit-animation-timing-function: steps(21,end), steps(1,end);
}

.second-header-responsive{
display: none;
}

@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

.cta-paragraph{
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14pt;
}

.value-prop{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}

.col-sm-4{
  padding: 20px;
}

.campaign-second-body{
  background-color: #6daadc;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.third-header{
  
font-family: Arial  , Helvetica, sans-serif;
text-transform: uppercase;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
color: #fff;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
text-align: center;
align-items: center;
}

.follow-steps{
padding: 20px;
background: linear-gradient(to right, #ee3124 50%, #fff 50%);
color: white;
}

.steps{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-content: center;
  align-items: center;
}

.footer{
  background-color: #626165;
  display: flex;
  justify-content: center;
  justify-content: center;
align-content: center;
align-items: center;
position: sticky;
}

.col-md-8{
display: flex;
justify-content: center;
align-content: center;
align-items: center;
padding-top: 20px;
}

.sticky-donate{
  background-color: #ff922d;
  display: flex;
  justify-content: center; 
  padding: 10px;
  font-weight: 900;
  color: White;
  font-size: 20pt;
  right: -1px;
  cursor: pointer;
  
}

.sticky-donate:hover{
  background-color: #dc710d;
}

.follow-steps-responsive{
  display: none;
}



/*---------*/

/*---responsive-media-queries--*/

@media only screen and (min-width: 1024px) and (max-width: 2200px) {
  /* For desktop: */
  .hero-text h1{
    display: none;
  }
  
  .hero-text-responsive h1 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial Black, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 37px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    font-size: 28pt;
    text-align: right;
  }

  .hero-subtitle h2 {
    display: none;
  }

  
  .hero-subtitle-responsive {
    display: none;
   
  }

  .hero-subtitle-responsive-1{
    display: flex;
    font-family: Arial , Helvetica, sans-serif;
    text-shadow: none;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 14pt !important;
    position: absolute;
    top: 50%;
    left: 65%;
    text-align: right;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  
  .donate-now-button{
    font-family: Arial Black , Helvetica, sans-serif;
    font-size: 18pt;
    letter-spacing: 1px;
    padding: 20px;
    background-color: #ee3124;
    text-align: right;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }


  .second-header{
    padding: 30px;
    font-family: Arial Black , Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    }
    
    .second-header h1 {
      color: #fff;
      font-family: Arial Black , Helvetica, sans-serif;
      overflow: hidden; 
      border-right: .15em solid #ee3124; 
      white-space: nowrap; 
      margin: 0 auto; 
      letter-spacing: .15em; 
      -webkit-animation-name: typing, blinking;
        -webkit-animation-duration: 5s, 1s;
        -webkit-animation-iteration-count: 1, infinite;
        -webkit-animation-timing-function: steps(21,end), steps(1,end);
    }
  
    
    @keyframes typing {
      from { width: 0 }
      to { width: 50% }
    }
    

  .second-header-responsive{
    display: none;
  }

  .second-header-responsive h1{
    display: none;
    }

    .follow-steps {
      padding: 20px;
      background: linear-gradient(to right #ee3124 50%, #fff 50%);
      color: white;
    }

    .steps{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .footer{
      display: flex;
      justify-content: center;
      align-content: center;
     align-items: center;
     text-align: left;
      
    }

    .social-icon{
      width: 50px;
      padding: 5px;
    }
    

  .phone-number{
    font-size: 12pt;
  }

  .third-header{
    padding: 20px;
  }

}


@media only screen and (max-width: 660px) {
  /* For mobile-device: */
  .hero-text h1{
    display: none;
  }
  
  .hero-text-responsive h1 {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial Black, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 22px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    font-size: 18pt;
  }

  .hero-subtitle h2 {
    display: none;
  }

  
  .hero-subtitle-responsive {
    display: flex;
    font-family: Arial , Helvetica, sans-serif;
    text-shadow: none;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 12px;
    font-size: 10pt !important;
    position: absolute;
    top: 30%;
    left: 13%;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }

  .hero-subtitle-responsive-1{
    display: none;
  }
  
  .donate-now-button{
    font-family: Arial Black , Helvetica, sans-serif;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 20px;
    background-color: #ee3124;
    text-align: right;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }


  .second-header{
    display: none;
  }

  .second-header-responsive{
    display: flex;
  }

  .second-header-responsive h1{
    display: flex;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    }

    .follow-steps {
      padding: 20px;
      background: linear-gradient( #ee3124 35%, #fff 50%);
      color: white;
    }

    .footer{
      display: flex;
      justify-content: center;
      align-content: center;
     align-items: center;
     text-align: center;
      
    }

    .social-icon{
      width: 50px;
      padding: 5px;
    }
    

  .phone-number{
    font-size: 9pt;
  }

  .third-header{
    padding: 20px;
  }


}

@media only screen 
  and (min-width: 660.1px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2){
  /* For ipad/tablet: */
  .hero-text h1{
    display: none;
  }
  
  .hero-text-responsive h1 {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial Black, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 37px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    font-size: 28pt;
    text-align: center;
  }

  .hero-subtitle h2 {
    display: none;
  }

  
  .hero-subtitle-responsive {
    display: none;
   
  }

  .hero-subtitle-responsive-1{
    display: flex;
    font-family: Arial , Helvetica, sans-serif;
    text-shadow: none;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 14pt !important;
    position: absolute;
    top: 60%;
    left: 30%;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  
  .donate-now-button{
    font-family: Arial Black , Helvetica, sans-serif;
    font-size: 14pt;
    letter-spacing: 1px;
    padding: 20px;
    background-color: #ee3124;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }


  .second-header{
    display: none;
  }

  .second-header-responsive{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .second-header-responsive h1{
    display: flex;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    
    }

    .value-prop img {
      width: 200px;
    }
    
    .value-prop img p {
      font-size: 14pt !important;
    }

    .follow-steps {
     display: none;
    }

    .follow-steps-responsive{
      background-color: #4b79bc;
      padding: 20px;
      display: flex;
    }

    .footer{
      display: flex;
      justify-content: center;
      align-content: center;
     align-items: center;
     text-align: left;
      
    }

    .social-icon{
      width: 50px;
      padding: 5px;
    }
    

  .phone-number{
    font-size: 12pt;
  }

  .third-header{
    padding: 20px;
  }

}






/*---------*/